<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFI Weekly Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Weekly Report</span>
        </div>
    </nav>
    <div class="container">

        <div class="my-5">
            <h3>This Week's Top 15</h3>
            <table class="table table-striped align-middle">
                <thead class="">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Film Title</th>
                        <th scope="col">Country of Origin</th>
                        <th scope="col">Weekend Gross</th>
                        <th scope="col">Distributor</th>
                        <th scope="col">Change on Last Week</th>
                        <th scope="col">Weeks on Release</th>
                        <th scope="col">Number of Cinemas</th>
                        <th scope="col">Site Average</th>
                        <th scope="col">Total Gross to Date</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {top_15_contents}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>